<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3c.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:v="urn:schemas-microsoft-com:vml">
<head>
<meta charset="utf8"/>
<meta http-equiv="pragma" content="no-cache"/>
<script src="//code.jquery.com/jquery-2.2.4.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js" integrity="sha384-b/U6ypiBEHpOf/4+1nzFpr53nxSS+GLCkfwBdFNTxtclqqenISfwAzpKaMNFNmj4" crossorigin="anonymous"></script>
<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.5.1/css/bootstrap.min.css" rel="stylesheet"/>
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.5.1/js/bootstrap.min.js"></script>
<link href="//use.fontawesome.com/releases/v5.15.4/css/all.css" rel="stylesheet"/>
<link href="/css/md.css" rel="stylesheet"/>
<script src="/js/md.js"></script>

<!-- #32 -->
<script src="//cdn.jsdelivr.net/npm/mermaid/dist/mermaid.min.js"></script>
<link href="//cdn.jsdelivr.net/npm/mermaid/dist/mermaid.min.css"/>

<!-- #34 -->
<script type="text/javascript" async src="//cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.5/MathJax.js?config=TeX-MML-AM_CHTML"></script>
<script type="text-x-mathjax-config">
MathJax.Hub.Config({
  //skipStartupTypeset: true,
  extensions: [ "text2jax.js" ],
  jax: [ "input/TeX", "output/HTML-CSS" ],
  text2jax: {
    inlineMath: [ [ '$', '$' ], [ "\\(", "\\)" ] ],
    displayMath: [ [ '$$', '$$' ], [ "\\[", "\\]" ] ],
    processEscapes: true
  },
  "HTML-CSS": {
    availableFonts: [ "TeX" ]
  }
});
</script>

<meta name="viewport" content="width=device-width,initial-scale=1"/>
<meta name="apple-mobile-web-app-capable" content="yes"/>
<meta name="apple-mobile-web-app-status-bar-style" content="black"/>
<meta name="apple-mobile-web-app-title" content="<%= title %>"/>

<link rel="shortcut icon" href="<%= image_url %>" type="image/png"/>
<link rel="icon" href="<%= image_url %>" type="image/png"/>
<link rel="apple-touch-icon" href="<%= image_url %>"/>

<!-- // OGP tags -->
<meta property="og:title" content="<%= title %>"/>
<meta property="og:type" content="website"/>
<meta property="og:url" content="https://mynfo.yellowmix.net/"/>
<meta property="og:image" content="https://mynfo.yellowmix.net/img/icon.png"/>
<meta property="og:site_name" content="<%= title %> - <%= subtitle %>"/>
<meta property="og:description" content="<%= title %> : Markdown based CMS which syncs GitHub repository"/>
<!-- OGP tags // -->

<!-- // Twitter Card -->
<meta name="robots" content="max-image-preview:large" />
<meta name="twitter:card" content="summary_large_image"/>
<meta name="twitter:site" content="@dotnsf"/>
<meta name="twitter:creator" content="@dotnsf"/>
<meta name="twitter:url" content="https://mynfo.yellowmix.net/"/>
<meta name="twitter:image" content="https://mynfo.yellowmix.net/img/icon.png"/>
<meta name="twitter:title" content="<%= title %> - <%= subtitle %>"/>
<meta name="twitter:description" content="<%= title %> : Markdown based CMS which syncs GitHub repository"/>
<link rel="alternate" media="handheld" type="application/xhtml+xml" href="https://mynfo.yellowmix.net/" />
<!-- Twitter Card // -->

<title><%= title %> - <%= subtitle %></title>

<!-- #32 -->
<script>
$(function(){
  mermaid.initialize({
    startOnLoad: true
  });
});
</script>
</head>
