<!--// #29 -->
<div class="openbtn"><span></span><span></span><span></span></div>
<nav id="g-nav">
  <div id="g-nav-list">
    <%- include('./files', { folder: folder, path: path, github_file_url: github_file_url } ) %>
  </div>
</nav>
<!-- #29 //-->

<nav class="navbar navbar-expand-lg navbar-dark bg-<%= bootstrap_theme %> fixed-top">
  <a id="brand-title" class="navbar-brand" href="#">
<% if( custom_logo_image_url ){ %>
  <img src="<%= custom_logo_image_url %>" height="40"/>
<% } %>
    <%= title %> - <%= subtitle %>
  </a>
</nav>

